In [1]:
%matplotlib qt

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt     
import matplotlib
import tensorflow as tf
import seaborn as sns


matplotlib.rcParams['figure.figsize'] = [20, 10]
sns.set(style="white")

In [2]:
# Import Data Frame

# Specify path
LOG_NUM = 9003
PATH_TO_DF = r"C:\Users\lukas\OneDrive\Universität\Mathematik\Bachelorarbeit\log_dir\log_{}\SIMULATION_SUMMARY\simulation_summary_log_{}.pkl".format(LOG_NUM, LOG_NUM)
PATH_TO_MODEL = r"C:\Users\lukas\OneDrive\Universität\Mathematik\Bachelorarbeit\log_dir\log_{}\WEIGHTS\1".format(
    LOG_NUM
)

# Load data, calculate accuracy, remove greedy choices
df = pd.read_pickle(PATH_TO_DF)
df["difference_between_optimal_agent"] =df["optimal_final_cash_balance"]-df["agent_final_cash_balance"]
df_wo_greedy = df[df["greedy"]==0]

In [3]:
# Simulation metadata
NUM_EPISODE = 50000

In [3]:
# Inspect the simulation results
df.tail()

,agent_choice_of_x1,agent_final_cash_balance,cumulative_liquidity_costs,episode,greedy,initial_state,optimal_choice_of_x1,optimal_final_cash_balance,difference_between_optimal_agent
49995,6.45,16.757311,-3.079240,49995,1,"[[5.0], [10.0], [1.0], [0.0]]",3.811821,16.666403,-0.090908
49996,5.23,13.451253,-1.049601,49996,0,"[[5.0], [10.0], [1.0], [0.0]]",3.811821,13.987279,0.536027
49997,5.02,16.556753,-1.788328,49997,1,"[[5.0], [10.0], [1.0], [0.0]]",3.811821,16.401746,-0.155007
49998,7.33,14.181824,-3.090103,49998,1,"[[5.0], [10.0], [1.0], [0.0]]",3.811821,15.272143,1.090320
49999,5.12,13.563491,-1.024015,49999,0,"[[5.0], [10.0], [1.0], [0.0]]",3.811821,14.034422,0.470931

In [4]:
df_wo_greedy

,agent_choice_of_x1,agent_final_cash_balance,cumulative_liquidity_costs,episode,greedy,initial_state,optimal_choice_of_x1,optimal_final_cash_balance,difference_between_optimal_agent
1055,0.226676,16.092472,-1.210789,1055,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1155,0.340419,11.728008,-0.975145,1155,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1388,7.285913,19.765415,-1.050112,1388,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1414,6.429432,16.429182,-0.872424,1414,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1470,6.502826,16.108810,-0.879097,1470,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1473,0.812165,8.653877,-0.775348,1473,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1498,4.507075,16.438183,-0.833629,1498,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1525,4.879962,13.465679,-0.741284,1525,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1526,4.890220,14.358199,-0.763181,1526,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1532,4.982661,9.128440,-0.633295,1532,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1564,4.798174,22.282005,-0.976601,1564,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1567,4.791404,19.246960,-0.904292,1567,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1589,4.982782,8.231601,-0.623113,1589,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1597,4.881583,11.397818,-0.702716,1597,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1605,4.843149,12.734481,-0.723615,1605,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1626,4.767679,18.314322,-0.865279,1626,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1636,4.767927,18.135300,-0.859762,1636,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1638,4.782039,18.535038,-0.869905,1638,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1640,4.764493,20.561384,-0.918405,1640,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1651,4.806199,16.247604,-0.810473,1651,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1654,4.807001,17.887835,-0.850174,1654,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1674,4.793613,14.786157,-0.775847,1674,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1675,5.095727,8.728821,-0.623357,1675,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1687,4.999724,10.811090,-0.675710,1687,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1693,4.761773,22.111441,-0.955856,1693,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1707,4.880631,12.479704,-0.718326,1707,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1715,4.867955,17.274302,-0.839157,1715,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1732,5.159095,10.510634,-0.668209,1732,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1738,5.261099,10.070527,-0.658689,1738,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
1751,5.236939,10.821370,-0.677887,1751,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9959,4.905838,14.868823,-0.593364,9959,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9961,5.465833,9.233243,-0.476415,9961,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9962,5.084268,12.081827,-0.541531,9962,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9963,5.193115,11.492221,-0.520561,9963,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9965,4.984710,15.037794,-0.597559,9965,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9966,4.827249,15.395850,-0.610481,9966,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9967,4.960260,14.224236,-0.575970,9967,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9969,4.811465,13.995648,-0.536779,9969,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9970,5.429709,11.731067,-0.547248,9970,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9971,5.451982,9.070798,-0.476259,9971,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9972,5.413413,12.385315,-0.567652,9972,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9973,4.820207,21.994785,-0.768753,9973,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9974,5.091421,11.035653,-0.506080,9974,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9975,5.152748,11.818688,-0.537698,9975,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9976,4.855222,18.337358,-0.678775,9976,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9979,4.833413,20.912947,-0.742992,9979,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9981,5.214978,14.754360,-0.618128,9981,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9982,4.999110,12.992972,-0.554165,9982,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9984,4.930659,17.428984,-0.652467,9984,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9986,5.432458,9.864125,-0.499179,9986,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9987,4.844881,21.182209,-0.747626,9987,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9988,5.151975,13.393113,-0.578078,9988,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9990,4.907467,18.739071,-0.688962,9990,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9991,4.916218,16.013897,-0.629143,9991,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9992,5.073817,15.330809,-0.623743,9992,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9994,4.900921,16.575567,-0.640022,9994,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9995,5.253417,11.852584,-0.543503,9995,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9996,4.936610,14.142994,-0.576481,9996,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9997,4.821326,22.108372,-0.765603,9997,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN
9998,5.032080,11.850306,-0.533219,9998,0,"[[1.0], [10.0], [1.0], [0.0]]",NaN,NaN,NaN

In [5]:
# Plot the responses for different events and regions
sns.lineplot(x="episode", y="agent_choice_of_x1",hue="greedy",
             data=df)

In [4]:
# Mooving average plot 1

X_AXIS = "episode"
Y_AXIS = "agent_choice_of_x1"

x_axis_data= df_wo_greedy[X_AXIS]
y_axis_data = df_wo_greedy[Y_AXIS]

MA_1 = 250
MA_2 = 1500
MA_3 = 3000

MA_1_wo_greedy = y_axis_data.rolling(window=MA_1).mean()
MA_2_wo_greedy = y_axis_data.rolling(window=MA_2).mean()
MA_3_wo_greedy = y_axis_data.rolling(window=MA_3).mean()


df_MA_wo_greedy =pd.DataFrame({X_AXIS:x_axis_data, Y_AXIS:y_axis_data, "MA_1":MA_1_wo_greedy, "MA_2":MA_2_wo_greedy, "MA_3":MA_3_wo_greedy})
sns.lineplot(x="episode", y=Y_AXIS, data=df_MA_wo_greedy, label="original series", alpha=0.5)
sns.lineplot(x="episode", y="MA_1", data=df_MA_wo_greedy, label="MA Factor: {}".format(MA_1))
sns.lineplot(x="episode", y="MA_2", data=df_MA_wo_greedy,label="MA Factor: {}".format(MA_2), c='r')
# sns.lineplot(x="episode", y="MA_3", data=df_MA_wo_greedy,label="MA Factor: {}".format(MA_3))
plt.title(Y_AXIS + " progression during training")
plt.xlabel(X_AXIS)
plt.ylabel(Y_AXIS)

C:\Users\lukas\Anaconda3\lib\site-packages\matplotlib\cbook\__init__.py:1725: UserWarning: Saw kwargs ['c', 'color'] which are all aliases for 'color'.  Kept value from 'color'
  seen=seen, canon=canonical, used=seen[-1]))
C:\Users\lukas\Anaconda3\lib\site-packages\matplotlib\cbook\__init__.py:1725: UserWarning: Saw kwargs ['c', 'color'] which are all aliases for 'color'.  Kept value from 'color'
  seen=seen, canon=canonical, used=seen[-1]))

Text(0, 0.5, 'agent_choice_of_x1')

In [13]:
# Mooving average plot 1

X_AXIS = "episode"
Y_AXIS_1 = "cumulative_liquidity_costs"
Y_AXIS_2 = "agent_choice_of_x1"
Y_AXIS_3 = "agent_final_cash_balance"

x_axis_data= df_wo_greedy[X_AXIS]
y_1_axis_data = df_wo_greedy[Y_AXIS_1]
y_2_axis_data = df_wo_greedy[Y_AXIS_2]
y_3_axis_data = df_wo_greedy[Y_AXIS_3]


MA_1 = 250
MA_2 = 250


ma_y_1_wo_greedy = y_1_axis_data.rolling(window=MA_1).mean()
ma_y_2_wo_greedy = y_2_axis_data.rolling(window=MA_1).mean()
ma_y_3_wo_greedy = y_3_axis_data.rolling(window=MA_2).mean()



df_MA_wo_greedy =pd.DataFrame({X_AXIS:x_axis_data, Y_AXIS_1:ma_y_1_wo_greedy, Y_AXIS_2:ma_y_2_wo_greedy, Y_AXIS_3:ma_y_3_wo_greedy})


sns.lineplot(x="episode", y=Y_AXIS_1, data=df_MA_wo_greedy, label="MA Factor: {}".format(MA_1) + Y_AXIS_1)
sns.lineplot(x="episode", y=Y_AXIS_2, data=df_MA_wo_greedy, label="MA Factor: {}".format(MA_1) + Y_AXIS_2)
sns.lineplot(x="episode", y=Y_AXIS_3, data=df_MA_wo_greedy, label="MA Factor: {}".format(MA_2) + Y_AXIS_3)

plt.title(Y_AXIS_1 + " and "+ Y_AXIS_2 +" and "+  Y_AXIS_3 + " progression during training")
plt.xlabel(X_AXIS)

Text(0.5, 0, 'episode')

In [9]:
df_wo_greedy["episode"]

1055    1055
1155    1155
1388    1388
1414    1414
1470    1470
1473    1473
1498    1498
1525    1525
1526    1526
1532    1532
1564    1564
1567    1567
1589    1589
1597    1597
1605    1605
1626    1626
1636    1636
1638    1638
1640    1640
1651    1651
1654    1654
1674    1674
1675    1675
1687    1687
1693    1693
1707    1707
1715    1715
1732    1732
1738    1738
1751    1751
        ...
9959    9959
9961    9961
9962    9962
9963    9963
9965    9965
9966    9966
9967    9967
9969    9969
9970    9970
9971    9971
9972    9972
9973    9973
9974    9974
9975    9975
9976    9976
9979    9979
9981    9981
9982    9982
9984    9984
9986    9986
9987    9987
9988    9988
9990    9990
9991    9991
9992    9992
9994    9994
9995    9995
9996    9996
9997    9997
9998    9998
Name: episode, Length: 5829, dtype: object

In [12]:
# Final cash balance rolling volatility
X_AXIS = "episode"
Y_AXIS_1 = "agent_final_cash_balance"

x_axis_data= df_wo_greedy[X_AXIS]
y_1_axis_data = df_wo_greedy[Y_AXIS_1]

MA_1 = 250

ma_y_1_wo_greedy = y_1_axis_data.rolling(window=MA_1).std()
df_MA_wo_greedy =pd.DataFrame({X_AXIS:x_axis_data, Y_AXIS_1:ma_y_1_wo_greedy})


sns.lineplot(x="episode", y=Y_AXIS_1, data=df_MA_wo_greedy, label="Window size: {}".format(MA_1) + " of " + Y_AXIS_1)

plt.title(Y_AXIS_1 + " rolling std {} during training".format(MA_1))
plt.xlabel(X_AXIS)

Text(0.5, 0, 'episode')

In [12]:
# Plot 1 & 2
fig, ax =plt.subplots(2,1)
X_AXIS = "episode"
Y_AXIS_1 = "agent_choice_of_x1"
Y_AXIS_2 = "agent_final_cash_balance"

x_axis_data= df_wo_greedy[X_AXIS]
y_1_axis_data = df_wo_greedy[Y_AXIS_1]
y_2_axis_data = df_wo_greedy[Y_AXIS_2]

MA_1 = 3

ma_y_1_wo_greedy = y_1_axis_data.rolling(window=MA_1).mean()
ma_y_2_wo_greedy = y_2_axis_data.rolling(window=MA_1).mean()



df_MA_wo_greedy =pd.DataFrame({X_AXIS:x_axis_data, Y_AXIS_1:ma_y_1_wo_greedy, Y_AXIS_2:ma_y_2_wo_greedy})

sns.lineplot(x="episode", y=Y_AXIS_1, data=df_MA_wo_greedy, label="alpha=0.01", ax=ax[0])
sns.lineplot(x="episode", y=Y_AXIS_2, data=df_MA_wo_greedy, label="alpha=0.01".format(MA_1) , ax=ax[1])

ax[0].set(title="Strategy choice progression", xlabel="", ylabel="x_1 choice")
ax[1].set(title="Final cash balance progression", xlabel="Episode", ylabel="y_2 final cash")

ax[0].axhline(2.5, ls='--', label="Analytical solution, alpha=0.01", c="r")
ax[1].axhline(14.97, ls='--', label="Analytical solution, alpha=0.01", c="r")

fig.subplots_adjust(right=0.82, bottom=0.05)

ax[0].legend_.remove()
ax[1].legend(plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.))

TypeError: zip argument #2 must support iteration

In [7]:
# Plot 3 & 4
fig, ax =plt.subplots(2,1)
X_AXIS = "episode"
Y_AXIS_1 = "cumulative_liquidity_costs"
Y_AXIS_2 = "agent_final_cash_balance"

x_axis_data= df_wo_greedy[X_AXIS]
y_1_axis_data = df_wo_greedy[Y_AXIS_1]
y_2_axis_data = df_wo_greedy[Y_AXIS_2]

MA_1 = 250

ma_y_1_wo_greedy = y_1_axis_data.rolling(window=MA_1).mean()
ma_y_2_wo_greedy = y_2_axis_data.rolling(window=MA_1).std()



df_MA_wo_greedy =pd.DataFrame({X_AXIS:x_axis_data, Y_AXIS_1:ma_y_1_wo_greedy, Y_AXIS_2:ma_y_2_wo_greedy})

sns.lineplot(x="episode", y=Y_AXIS_1, data=df_MA_wo_greedy, label="alpha=0.01", ax=ax[0])
sns.lineplot(x="episode", y=Y_AXIS_2, data=df_MA_wo_greedy, label="alpha=0.01".format(MA_1) , ax=ax[1])
ax[0].axhline(-0.06, ls='--', label="Analytical solution, alpha=0.01", c="r")
ax[1].axhline(0.5, ls='--', label="Analytical solution, alpha=0.01", c="r")

ax[0].set(title="Cumulative liquidity costs progression", xlabel="", ylabel="Liqudity costs per episode")
ax[1].set(title="Rolling standard deviation of final cash balance", xlabel="Episode", ylabel="y_2 rolling standard deviation")
fig.subplots_adjust(right=0.82, bottom=0.05)
ax[1].legend_.remove()
ax[0].legend(plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.))

TypeError: zip argument #2 must support iteration

In [8]:
mean = df_wo_greedy["agent_final_cash_balance"][-8000:].mean()
std = df_wo_greedy["agent_final_cash_balance"][-8000:].std()

In [9]:
print(mean, std)

15.045029723882676 1.227692773425039

In [10]:
df_wo_greedy["agent_choice_of_x1"][-8000:].mean()

5.045861250221729

In [11]:
df_wo_greedy["cumulative_liquidity_costs"][-8000:].mean()

-1.485022831570617